



ExperimentsCluster/6_MultiHubEst_CompleteMethodsLit/3_JOINTsim/
ExperimentsCluster/6_MultiHubEst_CompleteMethodsLit/4_StiefelSphere/
ExperimentsVisualizations/8_ExploringJICHD/1_Experiments/





ExperimentsCluster2/req_lib/

ExperimentsCluster2/000_pretraining/pretrainings1/logs
ExperimentsCluster2/000_pretraining/pretrainings1/data

ExperimentsCluster2/100_glasso/experiments1/logs
ExperimentsCluster2/100_glasso/experiments1/data
ExperimentsCluster2/100_glasso/experiments1/bic_data
ExperimentsCluster2/100_glasso/experiments1/bic_plots

ExperimentsCluster2/200_hwgl/pretrainings1/logs
ExperimentsCluster2/200_hwgl/pretrainings1/data
ExperimentsCluster2/200_hwgl/experiments1/logs
ExperimentsCluster2/200_hwgl/experiments1/data
ExperimentsCluster2/200_hwgl/experiments1/bic_data
ExperimentsCluster2/200_hwgl/experiments1/bic_plots

ExperimentsCluster2/300_mglasso/debugging1/logs
ExperimentsCluster2/300_mglasso/experiments1/logs
ExperimentsCluster2/300_mglasso/experiments1/data
ExperimentsCluster2/300_mglasso/experiments1/bic_data

ExperimentsCluster2/400_stiefelsphere/debugging1/
ExperimentsCluster2/400_stiefelsphere/experiments1/logs
ExperimentsCluster2/400_stiefelsphere/experiments1/data
ExperimentsCluster2/400_stiefelsphere/experiments1/bic_data

ExperimentsCluster2/500_AggregatedDataExperiments

ExperimentsCluster2/500_AggregatedDataExperiments/data_all
ExperimentsCluster2/500_AggregatedDataExperiments/plots_all
ExperimentsCluster2/500_AggregatedDataExperiments/plots_bymethod




ExperimentsCluster3/req_lib/

ExperimentsCluster3/000_pretraining/pretrainings1/logs
ExperimentsCluster3/000_pretraining/pretrainings1/data

ExperimentsCluster3/100_glasso/experiments1/logs
ExperimentsCluster3/100_glasso/experiments1/data
ExperimentsCluster3/100_glasso/experiments1/bic_data
ExperimentsCluster3/100_glasso/experiments1/bic_plots

ExperimentsCluster3/200_hwgl/pretrainings1/logs
ExperimentsCluster3/200_hwgl/pretrainings1/data
ExperimentsCluster3/200_hwgl/experiments1/logs
ExperimentsCluster3/200_hwgl/experiments1/data
ExperimentsCluster3/200_hwgl/experiments1/bic_data
ExperimentsCluster3/200_hwgl/experiments1/bic_plots

ExperimentsCluster3/300_mglasso/experiments1/logs
ExperimentsCluster3/300_mglasso/experiments1/data
ExperimentsCluster3/300_mglasso/experiments1/bic_data

ExperimentsCluster3/400_stiefelsphere/experiments1/logs
ExperimentsCluster3/400_stiefelsphere/experiments1/data
ExperimentsCluster3/400_stiefelsphere/experiments1/bic_data

ExperimentsCluster3/500_AggregatedDataExperiments/data_all
ExperimentsCluster3/500_AggregatedDataExperiments/plots_all
ExperimentsCluster3/500_AggregatedDataExperiments/plots_bymethod









ExperimentsCluster4/req_lib/

ExperimentsCluster4/000_pretraining/pretrainings1/logs
ExperimentsCluster4/000_pretraining/pretrainings1/data

ExperimentsCluster4/100_glasso/experiments1/logs
ExperimentsCluster4/100_glasso/experiments1/data
ExperimentsCluster4/100_glasso/experiments1/bic_data
ExperimentsCluster4/100_glasso/experiments1/bic_plots
ExperimentsCluster4/100_glasso/outputs1/logs
ExperimentsCluster4/100_glasso/outputs1/data
ExperimentsCluster4/100_glasso/outputs1/bic_data
ExperimentsCluster4/100_glasso/outputs1/bic_plots

ExperimentsCluster4/200_hwgl/pretrainings1/logs
ExperimentsCluster4/200_hwgl/pretrainings1/data
ExperimentsCluster4/200_hwgl/experiments1/logs
ExperimentsCluster4/200_hwgl/experiments1/data
ExperimentsCluster4/200_hwgl/experiments1/bic_data
ExperimentsCluster4/200_hwgl/experiments1/bic_plots
ExperimentsCluster4/200_hwgl/outputs1/logs
ExperimentsCluster4/200_hwgl/outputs1/data
ExperimentsCluster4/200_hwgl/outputs1/bic_data
ExperimentsCluster4/200_hwgl/outputs1/bic_plots

ExperimentsCluster4/300_mglasso/experiments1/logs
ExperimentsCluster4/300_mglasso/experiments1/data
ExperimentsCluster4/300_mglasso/experiments1/bic_data

ExperimentsCluster4/300_ipchd/experiments1/logs
ExperimentsCluster4/300_ipchd/experiments1/data
ExperimentsCluster4/300_ipchd/experiments1/bic_data
ExperimentsCluster4/300_ipchd/outputs1/logs
ExperimentsCluster4/300_ipchd/outputs1/data
ExperimentsCluster4/300_ipchd/outputs1/bic_data



ExperimentsCluster4/400_stiefelsphere/experiments1/logs
ExperimentsCluster4/400_stiefelsphere/experiments1/data
ExperimentsCluster4/400_stiefelsphere/experiments1/bic_data
ExperimentsCluster4/400_stiefelsphere/outputs1/logs
ExperimentsCluster4/400_stiefelsphere/outputs1/data
ExperimentsCluster4/400_stiefelsphere/outputs1/bic_data

ExperimentsCluster4/500_AggregatedDataExperiments/data_all
ExperimentsCluster4/500_AggregatedDataExperiments/plots_all
ExperimentsCluster4/500_AggregatedDataExperiments/plots_bymethod

ExperimentsCluster4/600_AggregatedDataFull/data_all
ExperimentsCluster4/600_AggregatedDataFull/plots_all
ExperimentsCluster4/600_AggregatedDataFull/plots_bymethod